@media screen and(max-width:991px){
    header{padding: 20px;}
    
    header .navbar{display: none;}
    header .navbar.active{position: fixed;top:0;left:0;width: 100%;height: 100%;display: flex;
    justify-content: center;align-items: center;flex-direction: column;}
    header ul li{margin: 10px 0;}
    header ul li a{margin-left: 0;}
    .menu-toggle{position: fixed;top: 20px;right: 20px;width: 40px;height: 40px;/*background: url() no-repeat center;background-size:30px;*/cursor: pointer;z-index: 1000;}
    /*.menu-toggle.active{background:url() no-repeat center;background-size:30px;}*/
}