@import './variaveis.css';@import'./header.css';@import'./banner.css';@import'./footer.css';

*{margin: 0;padding: 0;box-sizing: border-box;font-family: 'Arial', sans-serif;font-size: 16px;line-height: 1.8em;text-decoration: none;list-style:none;transition: 0.3s ease-in-out;scroll-behavior: smooth;}
img{width:100%;height:100%;}
.title{
    font-size: 1.9em;
    font-family: var(--font-destaque);
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.subtitle{
    font-family: var(--font-destaque);
    font-size: 1.4em;
}
.sobre{
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    min-height: 80vh;
}
.sobre .container{max-width: 700px;}
.sobre .container h2{font-size: 1.9em;font-weight: 400;padding-top: 30px;}
.sobre .container p{color: var(--color-text);padding-top: 10px;}
.sobre .container button{font-size: 1.4em;color: var(--color-text);background-color: var(--bg-banner-footer);padding: 10px;margin-top: 10px;border: none;border-radius: 20px;cursor: pointer;}

.categoria{position: relative;width: 100%;}
.categoria .container{
    position:relative;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(6,97px);
    gap: 10px;
    grid-template-areas:
    'box1 box1 box2 box3'
    'box1 box1 box2 box3'
    'box1 box1 box2 box3'
    'box1 box1 box2 box3'
    'box4 box4 box4 box3'
    'box4 box4 box4 box3'
    'box4 box4 box4 box3';
    ;
    margin: 10px;
}
.categoria .container .contentBox{position: relative; border-radius: 25px;display: flex;justify-content: center;align-items: center;}

.categoria .container .contentBox:hover .content::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
    border-radius: 25px;
}
.categoria .container .contentBox .content .link{position: relative;z-index: 1;font-size: 2.3em;font-weight: 600;font-family: "Playwrite NO", cursive;color: white;text-shadow: 10px 10px 18px rgba(0,0,0,0.4);}

.box1{grid-area: box1;background-color: #444;background: url("/public/image/fotos/pexels-andrewpersonaltraining-733498.jpg") no-repeat center;background-size: cover;}
.box2{grid-area: box2;background-color: #111;background: url("/public/image/fotos/pexels-godisable-jacob-226636-818992.jpg")no-repeat center;background-size: cover;}
.box3{grid-area: box3;background-color: #555;background: url("/public/image/fotos/pexels-jenyzest-1125728.jpg")no-repeat center;background-size: cover;}
.box4{grid-area: box4;background-color: #888;background: url("/public/image/fotos/pexels-freestockpro-12955693.jpg")no-repeat center;background-size: cover;}

.contato{position: relative;width:100%;min-height: 60vh;display: flex;justify-content: center;align-items: center;margin-top:10px;}
.contato .info{background-color: var(--bg-destaque);width: 50%;height: 60vh; text-align: center;display:flex;justify-content: center;align-items: center;flex-direction: column;}
.contato .aviso{color:#97d0f1;font-size: 1.4em;}
.contato .tel,.insta,.email,.endereco{font-size: 20px;color: var(--color-text-destaque);padding-top: 8px;}

.contato .map{width: 80%;min-height: auto;}
.contato .map iframe{width:100%;height:60vh;}


@media (max-width:991px){
    header{padding: 20px;}
    header .navbar{display: none;}
    header .navbar.active{position: fixed;top:0;left:0;width: 100%;height: 400px;display: flex;
    justify-content: center;align-items: center;flex-direction: column;background-color: var(--bg-destaque);}
    header ul li{margin: 10px 0;}
    header ul li a{margin-left: 0;}
    .menu-toggle{position: fixed;top: 0;right: 20px;width: 40px;height: 40px;background: url("/public/image/icons/menu-aberto.png") no-repeat center;background-size:30px;cursor: pointer;z-index: 1000;}
    .menu-toggle.active{background:url("/public/image/icons/cruz.png") no-repeat center;background-size:30px;}
    
    .banner .imgBox{position: relative;}
    .banner .imgBox::before{content:'';position: absolute;width: 100%;height: 100%;top: 0;left: 0;background-color:var(--bg-destaque-rgb);backdrop-filter: blur(5px);}
    .banner .content{position: absolute;z-index: 1;margin: 0;padding:20px;max-width: 900px;}
    .sobre{padding: 20px;min-height: 60vh;}
}
@media (max-width: 768px){  
    header {padding: 15px 30px;}
    header .logo img {width: 100%;height: 20px;}
    header.sticky{padding: 5px 70px;}
    .banner .content{padding: 20px;margin-left: 0;}
    .sobre .container h2{font-size:1.2em;} 
    .categoria .container {
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(4, 200px);
        grid-template-areas:
            'box1 box1 box1 box1'
            'box2 box2 box2 box2'
            'box3 box3 box3 box3'
            'box4 box4 box4 box4';
    }
    .categoria .container .contentBox,.categoria .container .contentBox:hover .content::before{border-radius: 0px;}
    .contato {flex-direction: column;}
    .contato .info {width: 100%;padding: 20px;}
    footer .row .box {width: 100%;padding: 0 15px;}
    footer .ref {flex-direction: column;}
    footer .row .box a:hover{letter-spacing: normal;}
}